/* Global styles
----------------------------- */
body {
    margin: 0;
    padding: 0;
    font-family: 'Libre Baskerville', serif;
    text-align: center;
}

/* Heading
----------------------------- */
h1, h2, h3 {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: normal;
}

/* Header
----------------------------- */
header {  /*photo of me */
    text-align: center;
}

/* Navbar
----------------------------- */
.nav { /*position: fixed -> make navbar unmoveable */
    background-color: #595959;
    color: #FFF;
    text-align: right;
    padding: 20px 0 20px 0;
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 1.2em;
    position: fixed; /* fixed navbar */
    top: 0; /*navbar is positioned at the top of the page */
    width: 100%;
    margin: 0;
}

body {
    margin-top: 180px; /* margin top to overload content overlay */
}

.nav li {
    display:inline-block;
    padding-right: 50px;;
}

.nav a {
    text-decoration: none;
    color: #FFF;
}

.nav img{
    max-width:200px;
    height: auto;

    display: block;
    margin-left: auto;
    margin-right: auto;
    /*margin-left: auto;*/
    /*margin-right: auto;*/

    /*display: inline-block;*/
    /*position: absolute;*/
    /*left: 50%;*/
    /*margin-left: -50px !important;  !* 50% of logo width *!*/

}

.nav a:hover {
    color: #C1C1C1;
    transition: all 0.40s;
}

/* Portfolio/Projects
----------------------------- */
.flex {
    display: flex;
    flex-direction: row; /* display flex and flex direction row aligns content in a row */
    align-content: flex-start;
    -webkit-align-content: flex-start;
}

.projects img {
    width: 30%;
    height: 30%;
}

.projects p {
    width: 70%;
}

/* Resume
----------------------------- */

/* Contact
----------------------------- */


/* (cool effect, but unnecessary) */
/*form {*/
    /*margin-top: 40px;*/
    /*transition: all 3s ease-in-out;*/
/*}*/

body#Contact {
    background-color: lightgrey;
}

form input,textarea{
    width: 500px;
}

form textarea {
    height: 150px;
}


#Email button {
    height:38px;
    background: #444;
    border:0;
    padding-left: 20px;
    padding-right: 20px;
    color:#fff;
}

#Icons{
    display:flex;
    flex-direction: row;
    justify-content: center;
    /*top: 50%;*/
    /*left: 50%;*/
}

#Icons li{
    list-style: none;
    transition: .5s;
}

#Icons li a{
    margin: 10px 10px;
    display: block;
    height: 50px;
    width: 50px;
    font-size: 37px;
    border-radius: 50%;
    background: #fff;
    overflow:hidden;
    transition: .5s;
}



#Icons li a:hover{
    transform: rotateY(360deg);
}

/* Footer
----------------------------- */
footer {
    padding: 20px;
    margin-top: 20px;
    color: #fff;
    background-color: #444;
}


